body {
    padding: 10px;
}

.listing-img {
    max-height: 200px;
    max-width: 200px;
}

.listing {
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    gap: 10px;
    margin-bottom: 10px;
}

p {
    margin: 2px;
}

.large {
    font-size: 1.5rem;
}


/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.listing-heading {
    font-size: 24px;
    color: #333;
}

.big-listing-img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px 0;
}

form input[type="submit"] {
    cursor: pointer;
}
